! Retina
Xft.dpi: 144
Xft.autohint: 0
Xcursor.size: 32
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1

! Colours
#define white         #ffffff
#define grey0         #878787
#define grey1         #444444
#define grey2         #303030
#define pink          #ff87d7
#define light_pink    #ffafd7
#define hot_pink      #ff00ff
#define red           #ff005f
#define teal          #87ffff
#define light_blue    #afffff
#define light_yellow  #ffffaf
#define mint          #afffd7
#define dark_mint     #00ffaf
#define lavender      #d7afff
#define gray_purple   #afafd7
#define dark_lavender #875faf

! Rxvt configuration
URxvt*scrollBar_right: true
URxvt*scrollBar: false
URxvt*scrollstyle: plain
URxvt*reverseVideo: true
URxvt*urgentOnBell: true
URxvt*saveLines: 8192
URxvt*searchable-scrollback: CM-slash

! Triple-click: extend selection to all logical chars in line
! (not end of window + newline)
URxvt.selection.pattern-0: (.*)

URxvt*modifier: mod1

URxvt*color1:  white
URxvt*color2:  teal
URxvt*color3:  mint
URxvt*color4:  lavender
URxvt*color5:  grey1
URxvt*color6:  red
URxvt*color7:  grey_purple
URxvt*color8:  light_yellow
URxvt*color9:  light_pink
URxvt*color10: light_blue
URxvt*color11: dark_mint
URxvt*color12: dark_lavender
URxvt*color13: grey0
URxvt*color14: hot_pink
URxvt*color15: grey0

URxvt*foreground: grey2
URxvt*background: pink

URxvt*iso14755: off
URxvt*iso14755_52: off

URxvt.url-select.launcher: /usr/bin/qutebrowser

! setting both url-select.launcher and launcher causes matcher to open URLs twice!
! URxvt.url-launcher: /usr/bin/firefox

URxvt.underlineURLs: true
URxvt.matcher.button: 1
URxvt.clipboard.autocopy: true

! keep stuff scrolled out of secondary screens (in theory)
URxvt.secondaryScroll: true
! use the wheel in them instead
URxvt.secondaryWheel:  true

URxvt.font:     xft:Inconsolata Nerd Font Mono:style=Medium:size=24,xft:Noto Emoji:size=27:scale=0.60
URxvt.font-size.step: 2
