! Retina
Xft.dpi: 144
Xft.autohint: 0
Xcursor.size: 32
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1

! Rxvt configuration
URxvt*scrollBar_right: true
URxvt*scrollBar: false
URxvt*scrollstyle: plain
URxvt*reverseVideo: true
URxvt*urgentOnBell: true
URxvt*saveLines: 8192
URxvt*searchable-scrollback: CM-slash

! Triple-click: extend selection to all logical chars in line
! (not end of window + newline)
URxvt.selection.pattern-0: (.*)

URxvt*modifier: mod1

URxvt*color4: #6060ff
URxvt*color12: #c0c0ff

URxvt*iso14755: off
URxvt*iso14755_52: off

URxvt.url-select.launcher: /usr/bin/qutebrowser

! setting both url-select.launcher and launcher causes matcher to open URLs twice!
! URxvt.url-launcher: /usr/bin/firefox

URxvt.underlineURLs: true
URxvt.matcher.button: 1
URxvt.clipboard.autocopy: true

! keep stuff scrolled out of secondary screens (in theory)
URxvt.secondaryScroll: true
! use the wheel in them instead
URxvt.secondaryWheel:  true

URxvt.font:     xft:Inconsolata Nerd Font Mono:style=Medium:size=24,xft:Noto Emoji:size=27:scale=0.60
URxvt.font-size.step: 2
